---
import DockerIcon from '@components/icons/dev/DockerIcon.astro';
import PostgreSQL from '@components/icons/dev/PostgreSQL.astro';
import Tailwind from '@components/icons/dev/Tailwind.astro';
import type { Technology } from '@interfaces/types';
import NumpyIcon from '../icons/dev/NumpyIcon.astro';
import AstroIcon from '../icons/dev/AstroIcon.astro';
import CssIcon from '../icons/dev/CssIcon.astro';
import PythonIcon from '../icons/dev/PythonIcon.astro';
import Net from '../icons/dev/CSharp.astro';
import MongoIcon from '../icons/dev/MongoIcon.astro';
import SassIcon from '../icons/dev/SassIcon.astro';
import TsIcon from '../icons/dev/TsIcon.astro';

interface Props {
  tegnologies: Technology[];
  withIcon?: boolean;
}
const { tegnologies, withIcon } = Astro.props;

const iconShip = {
  Python: PythonIcon,
  CSS: CssIcon,
  SASS: SassIcon,
  TypeScript: TsIcon,
  Astro: AstroIcon,
  Numpy: NumpyIcon,
  MongoDB: MongoIcon,
  PostgreSQL: PostgreSQL,
  Docker: DockerIcon,
  Tailwind: Tailwind,
  Net: Net
} as const;

type Technology = keyof typeof iconShip;

---

<ul class="chips">
  {
    tegnologies.map(teg => {
      const IconComponent = iconShip[teg];
      return (
        <li class="chip">
          {withIcon && IconComponent && <IconComponent class="ship__icon" />} {teg}
        </li>
      );
    })
  }
</ul>

<style>
  .chips {
    display: flex;
    gap: 0.6em;
    flex-wrap: wrap;
  }
  .chip {
    padding: 0.3rem 0.6rem;
    border-radius: 0.4rem;
    background-color: rgba(var(--color-button-accent), 0.2);
    border: 1px solid rgba(var(--color), 0.2);

    display: flex;
    gap: 0.2em;
    flex-wrap: wrap;
    align-items: center;
    font-size: 0.75rem;
    text-transform: uppercase;
  }
  .ship__icon {
    width: 1.1rem;
    color: rgba(var(--color), 1);
  }
</style>
